.imageBox {
  width: 410px;
  height: 270px;
  margin-top: 14px;
  border-radius: 4px;
  background-color: rgb(68, 25, 25);
  position: relative;
}

.videoBox {
  width: 410px;
  height: 270px;
  object-fit: cover;
  outline: none;
}

.canvasImg {
  width: 410px;
  height: 270px;
}
